
@import url('https://fonts.googleapis.com/css?family=Cormorant:300,400,500|Sorts+Mill+Goudy');
@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Lalezar|Sacramento|Slabo+13px');
html
{
	font-family: "Sorts Mill Goudy", serif;
}

body
{
	margin:0;
}

ul
{
	
	padding:0;
}

a 
{
	text-decoration: none;
	color:darkslateblue;
}

a:visited
{

}

.wrapper
{
	background: linear-gradient(to bottom, transparent, rgb(205, 92, 92)  );
	box-shadow: 0 0 60px brown;


}

header,footer,  aside
{

	background-color: transparent;
}

h1,h2,h3
{
	font-family: Sacramento;
	font-weight: 300;

	color:darkslateblue;
}

h1
{
	font-size: 4rem;
	display: inline-block;
	color:darkslateblue;
	margin:0;

	margin-top: .5em;
	line-height: .5;


}

h2
{
	font-size: 4rem;
	margin:0;
	margin-top: 1rem;

	position: relative;
	opacity: .3;
}

h3
{
	font-family: "Slabo 13px";
	padding-left: 3rem;
}



.subtitle
{
	margin:0;

	font-family: 'Slabo 13px';
	font-weight: 300;

	font-size: 1.5rem;

	display: inline-block;
		color:rgb(205, 92, 92) ;

	position: relative;

	top:.5em;
	left:-1em;


}


header
{
	padding-left:3rem;
}

main 
{

	padding:1rem 0;
}


section
{
	padding:.5rem;
	
	margin-bottom: 1.5rem;
}

section, nav
{

	background-color: white;

	border-radius: 5px;

	background: linear-gradient(to bottom, white 80%, rgba(255,255,255,.8) 100%)
}

section p 
{
	padding:1rem;
	padding-left: 3rem;
	padding-top: 0;
	margin-top: 0;
}

section p:first-line
{


}

section p a
{
	border-bottom: 1px dashed darkslateblue;
	

}

aside
{
	background-color: rgb(240,240,240);
	border-radius: 5px;
	

}

aside span
{
	display: inline-block;
	font-family: 'Slabo 13px';
	font-size: 3rem;
	text-shadow: 2px -2px 0px lightgrey;
	color:white;
	
	margin:2rem;

}

nav a
{
	font-family: 'Slabo 13px';
	color: rgb(205, 92, 92);
}

nav ul li 
{
	font-size: 1.5rem;
	line-height: 2;

}

.icon-cloud
{
	display: none;
}



@media screen and (min-width: 800px)

{
	.wrapper
	{
		box-shadow: 0 0 40px brown;
		padding:.5em;
	}

	.subtitle
	{
		font-size: 2rem;
	}

	h1
	{
		font-size: 5.5rem;
	}

	article
	{
		padding:0 1rem;
	}

	aside span
	{
	margin:0;	
	margin-top:5rem;
	transform: rotate(90deg);
	}

	.icon-cloud
	{
		display: inline-block;

		position:absolute;
		top:0;
		left:0;
		font-size: 7rem;

		opacity:.8;

		color:white;

		left:12%;
		top:4rem;


	}

	.icon-cloud:nth-of-type(2)
	{
		left:70%;
		top:.5rem;

		font-size: 9rem;
	}

	.icon-cloud:nth-of-type(3)
	{
		left:80%;
		top:1.5rem;

		font-size: 6rem;
	}
}
