@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p44oov');
  src:  url('fonts/icomoon.eot?p44oov#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p44oov') format('truetype'),
    url('fonts/icomoon.woff?p44oov') format('woff'),
    url('fonts/icomoon.svg?p44oov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

nav {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-button-icon:before {
  content: "\e9bd";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.more-icon:after {
  content: "\ea3e";
}
